body {
    text-align: center;
    padding: 0;
    margin: 0;
    
}

#header {
    height:40px;
    padding:0;
    margin:auto;
}

#headerPart {
    color:red;
}

#windowSizeWarning{
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.3em;
    color: gray;
}

#mapArea {
    position:fixed;
}


.controlBlock {
    clip-path: polygon(
        0 0,
        1% 0,
        8% 7%,

        92% 7%,
        99% 0%,
        100% 0%,
        100% 1%,
        93% 8%,

        93% 92%,
        100% 99%,
        100% 100%,
        99% 100%,
        92% 93%,

        8% 93%,
        1% 100%,
        0% 100%,
        0% 99%,
        7% 92%,

        7% 8%,
        0% 1%
      );
      
}


.halfEdgeContainer {
    display:flex;
    /* outline: solid black 1px */
}

.halfEdgeStart {
    clip-path: polygon(
        0 50%,
        10% 0,
        100% 0,
        100% 100%,
        10% 100%
      );
      
}

.halfEdgeEnd {
    clip-path: polygon(
        0% 0%,
        90% 0,
        100% 50%,
        90% 100%,
        0% 100%
      )
}

.polygonDeformedOctagon {
    position: fixed;
    clip-path: polygon(
        50% 0%,
        95% 20%,
        100% 50%,
        95% 80%,
        50% 100%,
        5% 80%,
        0% 50%,
        5% 20%
      )
}

