#headerPart {
    color:red;
}

.controlBlock {
    clip-path: polygon(
        0 0,
        1% 0,
        8% 7%,

        92% 7%,
        99% 0%,
        100% 0%,
        100% 1%,
        93% 8%,

        93% 92%,
        100% 99%,
        100% 100%,
        99% 100%,
        92% 93%,

        8% 93%,
        1% 100%,
        0% 100%,
        0% 99%,
        7% 92%,

        7% 8%,
        0% 1%
      );
      
}


.halfEdgeContainer {
    display:flex;
    /* outline: solid black 1px */
}

.halfEdgeStart {
    clip-path: polygon(
        0 50%,
        10% 0,
        100% 0,
        100% 100%,
        10% 100%
      );
      
}

.halfEdgeEnd {
    clip-path: polygon(
        0% 0%,
        90% 0,
        100% 50%,
        90% 100%,
        0% 100%
      )
}