  /*
*{
   outline: black solid 1px;
} 
*/

body {
    text-align: center;
    padding: 0;
    margin: 0;
}

#splashArea {
    position: absolute;
    left: 50%;
    top: 40%;
    translate: -50% -50%;
    outline: black solid 1px;
    width: fit-content;
    height: fit-content;
}

#header {
    padding:0;
    margin:auto;
    animation-name: swipeInOut;
    animation-duration: 2s;
    opacity: 0
}

#headerPart {
    color:red;
}

#windowSizeWarning{
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.3em;
    color: gray;
}




.controlBlock {
    clip-path: polygon(
        0 0,
        1% 0,
        8% 7%,

        92% 7%,
        99% 0%,
        100% 0%,
        100% 1%,
        93% 8%,

        93% 92%,
        100% 99%,
        100% 100%,
        99% 100%,
        92% 93%,

        8% 93%,
        1% 100%,
        0% 100%,
        0% 99%,
        7% 92%,

        7% 8%,
        0% 1%
      );
      
}


.halfEdgeContainer {
    display:flex;
    /* outline: solid black 1px */
}

.halfEdgeStart {
    clip-path: polygon(
        0 50%,
        10% 0,
        100% 0,
        100% 100%,
        10% 100%
      );
      
}

.halfEdgeEnd {
    clip-path: polygon(
        0% 0%,
        90% 0,
        100% 50%,
        90% 100%,
        0% 100%
      )
}

.polygonDeformedOctagon {
    position: fixed;
    clip-path: polygon(
        50% 0%,
        95% 20%,
        100% 50%,
        95% 80%,
        50% 100%,
        5% 80%,
        0% 50%,
        5% 20%
      )
}

@keyframes swipeInOut {

    0% {left: -10%; opacity: 0}
    90% {left: 50%; opacity: 1}
    100% {left: 60%; opacity: 0}

}

